<section class="create" id="create">

    <% if (!locals.name && !locals.animal && !locals.emotion && !locals.location) { %>
        <div class="create-form">
            <form action="/create" method="POST" style="height: 100%;">
                <input type="text" placeholder="Name" name="name" id="name" autocomplete="off" required>
                <input type="text" placeholder="Animal (eg. zebra, panda)" name="animal" id="animal" autocomplete="off" required>
                <input type="text" placeholder="Emotion (eg. happy, mad)" name="emotion" id="emotion" autocomplete="off" required>
                <input type="text" placeholder="Location (eg. forest, mountains)" name="location" id="location" autocomplete="off" required>
                <button type="submit">Generate</button>
            </form>
        </div>
    <% } else { %>
        <div class="create-result">
            <h1 style="text-align: center; padding-bottom: 1em;">a <span><%= locals.emotion %></span> <span><%= animal %></span> named <span><%= locals.name %></span> from <span><%= locals.location %></span></h1>
            <div class="container result">
                <div class="contain" id="image">
                    <img src="https://i.pinimg.com/736x/ec/0a/05/ec0a057351eff629b975b7f22a60654a.jpg" alt="your created animal">
                </div>
                <div class="contain" id="story">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet facilisis magna etiam tempor orci. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Arcu felis bibendum ut tristique et egestas quis. Id eu nisl nunc mi ipsum faucibus vitae. Cras adipiscing enim eu turpis egestas. Blandit massa enim nec dui nunc mattis enim ut. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Enim diam vulputate ut pharetra sit. Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo.</p>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6 contain image" id="image">
                        placeholder image
                        <img src="https://i.pinimg.com/736x/ec/0a/05/ec0a057351eff629b975b7f22a60654a.jpg" alt="your created animal">
                    </div>
                    <div class="col-md-6 contain story" id="story">
                        placeholder story
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet facilisis magna etiam tempor orci. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Arcu felis bibendum ut tristique et egestas quis. Id eu nisl nunc mi ipsum faucibus vitae. Cras adipiscing enim eu turpis egestas. Blandit massa enim nec dui nunc mattis enim ut. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Enim diam vulputate ut pharetra sit. Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo.</p>
                    </div>
                </div> -->
            </div>
        </div>
    <% } %>

    
    
</section>