<div class="container" id="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-4">
      <div class="col-md-5 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex text-decoration-none">
            <span class="title">CRITTER CREATIONS</span>
        </a>
      </div>
    </header>
</div>
