<section class="hero">
    <div class="container hero">
        <div class="left">
            <div class="main-text">
                <h1>BUILD</h1>
                <h1>YOUR OWN</h1>
                <h1>ANIMALS</h1>
            </div>
            <div class="sub-text">
                <p>Let your imagination flow and build</p>
                <p>the animals of your dreams or nightmares.</p>
            </div>
            <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="65px" height="65px" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                    <a href="http://localhost:3000/">
                        <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707"/>
                    </a>
                </svg>  
            </div>
        </div>
        
        <div class="right">
            <div class="image">
                <img style="position: absolute;" src="https://as1.ftcdn.net/v2/jpg/03/30/98/94/1000_F_330989475_lJPC497FX0iSrxPg5iIvHmvyEDrbkzUL.jpg" alt="forest backdrop">
                <img style="position: absolute;" src="https://static.vecteezy.com/system/resources/previews/027/141/905/non_2x/ai-generated-bengal-tiger-images-in-various-motions-transparent-background-free-png.png" alt="tiger">
                <img style="width: 30%; position: absolute; float: left; margin-top: 150px;" src="https://static.vecteezy.com/system/resources/previews/024/704/586/original/elephant-with-ai-generated-free-png.png" alt="elephant">
                <img style="width: 40%; position: absolute; margin-top: 15%; margin-left: 70%;" src="https://i.pinimg.com/originals/7b/40/de/7b40de81775809a1552ccc489e744bb4.png" alt="flamingo">
            </div>
        </div>
    </div>
</section>
