<section class="hero">
    <div class="container hero">
        <div class="left">
            <div class="main-text">
                <h1>BUILD YOUR</h1>
                <h1>OWN</h1>
                <h1>ANIMALS</h1>
            </div>
            <div class="sub-text">
                <p>Let your imagination flow and build</p>
                <p>the animals of your dreams or nightmares.</p>
            </div>
            <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                    <a href="#create">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>                    </a>
                </svg>  
            </div>
            
        </div>
        
        <div class="right">
            <div class="image">
                <img src="https://www.pngall.com/wp-content/uploads/14/Kawaii-PNG-Photo.png" alt="cute animal">
            </div>
        </div>
    </div>
</section>