<section class="login" id="login">

    <div class="create-form login-form">
        <form action="/create" method="POST" style="height: 100%;">
            <input type="email" placeholder="Email" name="email" id="email" autocomplete="off" required>
            <input type="password" placeholder="Password" name="password" id="password" autocomplete="off" required>
            <!-- <input type="text" placeholder="Emotion (eg. happy, mad)" name="emotion" id="emotion" autocomplete="off" required>
            <input type="text" placeholder="Location (eg. forest, mountains)" name="location" id="location" autocomplete="off" required> -->
            <button type="submit">Login</button>
        </form>
    </div>

    
    
</section>